@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Righteous', sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #C7CDD3;
}
/*CARD*/
.card {
  width: 150px;
  height: 150px;
  position: relative;

  transform-style: preserve-3d; /*Para o flip do card funcionar*/
  /*para rodar bonitinho, tenho que usar o transform-style sempre com transform*/
  transition: transform .5s;
}
.card:hover {
  cursor: pointer;
}
.cardFront, .cardBack {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.45);

  position: absolute;
  backface-visibility: hidden; /*caso o elemento estiver invertido, ele esconde. (rotateY 180deg)*/ 
}
.cardFront {
  background-color: #101C2C;
  transform: rotateY(180deg); /*Carta invertida: com isso o backface escondido funciona*/
}
.cardBack {
  color: #101C2C;
  background-color: #05C3FF;
  font-size: 30px;
}
.flip {
  transform: rotateY(180deg); /*o back fica invertido(hidden) e o front volta ao normal(visible)*/
}

/*GAME OVER*/
#gameOver {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9); /*MODAL*/
  color: white;
  font-size: 50px;
  display: none; /*quando entrar na modal, mudo pra flex*/
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0; 
}
#restart {
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  background-color: yellow;
  border: none;
  border-radius: 10px;
  margin-top: 15px;
}
#restart:hover {
  background-color: #05C3FF;
  color: white;
  cursor: pointer;
}
#restart:active {
  transition-duration: .4s;
  transform: translateY(+10%);
}
#gameBoard {
  max-width: 700px;
  max-height: 850px;
  display: grid;
  grid-template: 1fr 1fr 1fr 1fr 1fr/ 1fr 1fr 1fr 1fr;
  gap: 20px;
}
.aside {
  margin-right: 10px;
}
#moves, #score {
  background-color: #05C3FF;
  width: 110px;
  height: 50px;
  border: 2px solid #035169;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#score {
  margin-top: 8px;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1360px) {
  .card {
    width: 105px;
    height: 105px;
  }
  img {
    height: 70px;
    width: 70px;
  }
}
@media screen and (max-width: 450px) {
  .card {
    width: 70px;
    height: 70px;
  }
  img {
    height: 35px;
    width: 35px;
  }
  #gameOver div {
    text-align: center;
  }
  .aside {
    margin-right: 0;
    position: absolute;
    top: 20px;
    display: flex;
    flex-direction: row;
  }
  #score {
    margin-left: 5px;
    margin-top: 0;
  }
}